/**
 * Basic Elements
 */
a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}

/**
 * Main Header Styling
 */
header#header {
    background-color: #dcdcdc;
    margin-bottom: 0;
    padding-left: 5px;
}

/**
 * Article Wrapping Styling
 */

/**
 * Article Styling
 */
section#content article {
    margin-bottom: 20px;
}
article.even {
    background-color: #ffffff;
}
article.odd {
    background-color: #dcdcdc;
}
article{
    padding: 0 5px 0 5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
section#content {
    margin-left: 0;
}
header.article-header h2 {
    margin-bottom: 10px;
}
header.article-header {
    margin-bottom: 10px;
}
header.article-header small {
    font-size: 80%;
}

/**
 * Footer Styling
 */
footer {
    text-align: center;
    background-color: #dcdcdc;
}
footer p {
    margin-bottom: 0;
}

/**
 * Sideinfo Styling
 */
.sideinfo {
    background-color: #dcdcdc;
    padding-left: 5px;
    margin-bottom: 10px;
}
.sideinfo header h3 {
    margin-bottom: 10px;
}

/**
 * Paginator Styling
 */
nav#paginate {
    text-align: center;
    margin-bottom: 10px;
}

/**
 * Admin Forms Styling
 */
form {
    font-size: 100%;
}
fieldset {
    float: left;
    clear: both;
    width: 100%;
    margin: 0 0 0.5em;
    padding: 0;
    border: 1px solid #000000;
    background-color: #dcdcdc;
}
fieldset.submit {
    float: none;
    width: auto;
    border-style: none;
    padding-left: 12em;
    background-color: transparent;
}
legend {
    margin-left: 1em;
    padding: 0;
    color: #000;
    font-weight: bold;
}
fieldset ol {
    padding: 0.5em 1em 0 1em;
    list-style: none;
}
fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}
label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}
label strong {
    display: block;
    color: #C00;
    font-weight: normal;
    text-transform: uppercase;
}
label em {
    display: block;
    color: #060;
    font-style: normal;
    text-transform: uppercase;
}
