/**
 * Basic Elements
 */
a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
section#content article {
    margin-bottom: 20px;
}
footer {
    min-width: 900px;
}

/**
 * Article Backgrounds/Positioning
 */
article.even {
    background-color: #ffffff;
}
article.odd {
    background-color: #dcdcdc;
}
article{
    padding: 0 5px 0 5px;
    margin-left: 0;
    margin-right: 0;
}
section#content {
    margin-left: 0;
}
