[production]

; PHP Settings
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

; Include Paths
includePaths.library = APPLICATION_PATH "/../library"

; Bootstrap File (HTTP)
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

; Default Application Resource Namespace
appnamespace = "Zfplanet"

; Autoloader Namespace Settings
autoloaderNamespaces[] = "Doctrine"
autoloaderNamespaces[] = "HTMLPurifier"
autoloaderNamespaces[] = "ZFExt_"

; FrontController Resource Settings
resources.frontController.defaultController = "index"
resources.frontController.defaultAction = "index"
resources.frontController.defaultModule = "zfplanet"
resources.frontController.prefixDefaultModule = true
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.frontController.params.displayExceptions = 0
resources.frontController.actionHelperPaths.ZFExt_Controller_Action_Helper = "ZFExt/Controller/Action/Helper"
resources.frontController.plugins[] = "ZFExt_Controller_Plugin_Auth"
resources.frontController.plugins[] = "ZFExt_Controller_Plugin_LayoutSwitcher"
; Required for page level caching
resources.frontController.params.disableOutputBuffering = true

; Module Settings
resources.modules[] =

; View Resource Settings
resources.view.encoding = "UTF-8"
resources.view.helperPath.Zfplanet_View_Helper = APPLICATION_PATH "/modules/zfplanet/views/helpers"
resources.view.helperPathPrefix.Zfplanet_View_Helper = "Zfplanet_View_Helper"

; View HTML Specific Settings
resources.view.charset = "UTF-8"
resources.view.doctype = "XHTML5"
resources.view.language = "en"

; Default Response Settings
response.defaultContentType = "text/html;charset=utf-8"

; Default Layout Resource Settings
resources.layout.layout = "default"
resources.layout.layoutPath = APPLICATION_PATH "/modules/zfplanet/views/layouts"

; Session Resource Settings
resources.session.name = "ZFPLANET"
resources.session.save_path = APPLICATION_PATH "/../data/session"
resources.session.gc_maxlifetime = 900
resources.session.use_only_cookies = true
resources.session.cookie_httponly = true
resources.session.remember_me_seconds = 900

; Doctrine Resource Settings
doctrine.connection_string = "mysql://username:password@127.0.0.1/databasename"
doctrine.data_fixtures_path = APPLICATION_PATH "/data/doctrine/fixtures"
doctrine.models_path = APPLICATION_PATH "/modules/zfplanet/models"
doctrine.migrations_path = APPLICATION_PATH "/data/doctrine/migrations"
doctrine.sql_path = APPLICATION_PATH "/data/doctrine/sql"
doctrine.yaml_schema_path = APPLICATION_PATH "/data/doctrine/schema"
doctrine.generate_models_options.pearStyle = true
doctrine.generate_models_options.baseClassesDirectory = null
doctrine.generate_models_options.baseClassPrefix = "Base_"
doctrine.generate_models_options.baseClassPrefixFiles = false
doctrine.generate_models_options.classPrefix = "Zfplanet_Model_"
doctrine.generate_models_options.classPrefixFiles = false
doctrine.generate_models_options.generateTableClasses = true

; Custom Caches (Adjustments To Default CacheManager)
resources.cacheManager.page.backend.options.public_dir = APPLICATION_PATH "/../public/cached"
resources.cacheManager.pagetag.backend.options.cache_dir = APPLICATION_PATH "/../data/cache/tags"

; ROUTES
; Callback Route For Pubsubhubbub Callbacks
resources.router.routes.callback.route = "callback/:subscriptionKey"
resources.router.routes.callback.defaults.module = "zfplanet"
resources.router.routes.callback.defaults.controller = "callback"
resources.router.routes.callback.defaults.action = "index"
resources.router.routes.callback.reqs.subscriptionKey = \w+

; Paginator Route
resources.router.routes.paginator.route = "page/:pageNumber"
resources.router.routes.paginator.defaults.module = "zfplanet"
resources.router.routes.paginator.defaults.controller = "index"
resources.router.routes.paginator.defaults.action = "page"
resources.router.routes.paginator.defaults.pageNumber = 1
resources.router.routes.paginator.reqs.pageNumber = \d+

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
resources.view.strictVars = true
