[production]

; HTTP HOST
; Required so the CLI tasks can construct local URIs correctly when contacting
; off-server services or APIs. Just the host string is required.
host = "example.com"

; Bootstrap File (HTTP)
bootstrap.path = APPLICATION_PATH "/BootstrapCli.php"
bootstrap.class = "BootstrapCli"

; FrontController Resource Settings
resources.frontController.actionHelperPaths.Zfplanet_Controller_Action_Helper = APPLICATION_PATH "/modules/zfplanet/controllers/helpers"

; Custom Caches
resources.cacheManager.feed.frontend.name = "Core"
resources.cacheManager.feed.backend.name = "File"
resources.cacheManager.feed.frontend.options.automatic_serialization = true
resources.cacheManager.feed.frontend.options.lifetime = 86400
resources.cacheManager.feed.backend.options.cache_dir = APPLICATION_PATH "/../data/cache/feeds"

[staging : production]
[testing : production]
[development : production]
