[production]

; Bootstrap File (HTTP)
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

; FrontController Resource Settings
resources.frontController.actionHelperPaths.ZFExt_Controller_Action_Helper = "ZFExt/Controller/Action/Helper"
resources.frontController.actionHelperPaths.Zfplanet_Controller_Action_Helper = APPLICATION_PATH "/../modules/zfplanet/controllers/helpers"
resources.frontController.plugins[] = "ZFExt_Controller_Plugin_Auth"
resources.frontController.plugins[] = "ZFExt_Controller_Plugin_LayoutSwitcher"
; Required for page level caching
resources.frontController.params.disableOutputBuffering = true

; View Resource Settings
resources.view.encoding = "UTF-8"
resources.view.helperPath.Zfplanet_View_Helper = APPLICATION_PATH "/modules/zfplanet/views/helpers"
resources.view.helperPathPrefix.Zfplanet_View_Helper = "Zfplanet_View_Helper"
resources.view.helperPath.ZFExt_View_Helper = APPLICATION_PATH "/../library/ZFExt/View/Helper"
resources.view.helperPathPrefix.ZFExt_View_Helper = "ZFExt_View_Helper"

; View HTML Specific Settings
resources.view.charset = "UTF-8"
resources.view.doctype = "XHTML5"
resources.view.language = "en"

; Default Response Settings
response.defaultContentType = "text/html;charset=utf-8"

; Default Layout Resource Settings
resources.layout.layout = "default"
resources.layout.layoutPath = APPLICATION_PATH "/modules/zfplanet/views/layouts"

; Session Resource Settings
resources.session.name = "ZFPLANET"
resources.session.save_path = APPLICATION_PATH "/../data/session"
resources.session.gc_maxlifetime = 900
resources.session.use_only_cookies = true
resources.session.cookie_httponly = true
resources.session.remember_me_seconds = 900

; ROUTES
; Callback Route For Pubsubhubbub Callbacks
resources.router.routes.callback.route = "callback/:subscriptionKey"
resources.router.routes.callback.defaults.module = "zfplanet"
resources.router.routes.callback.defaults.controller = "callback"
resources.router.routes.callback.defaults.action = "index"
resources.router.routes.callback.reqs.subscriptionKey = \w+

; Paginator Route
resources.router.routes.paginator.route = "page/:pageNumber"
resources.router.routes.paginator.defaults.module = "zfplanet"
resources.router.routes.paginator.defaults.controller = "index"
resources.router.routes.paginator.defaults.action = "page"
resources.router.routes.paginator.defaults.pageNumber = 1
resources.router.routes.paginator.reqs.pageNumber = \d+

[staging : production]
[testing : production]
[development : production]
resources.view.strictVars = true
